.about-me {
    text-align: left;
    display: flex;
    margin: 10px 220px;
    gap: 120px;
}

.about-me-text {
    background-color: rgba(116, 58, 163, 0.4);
    box-shadow: 0 5px 20px rgba(214, 40, 230, 0.1);
    border-radius: 20px;
    height: 400px;
    width: 700px;
    padding: 10px 10px;
    white-space: pre-wrap;
}

.about-me-image {
    margin-right: 120px;
}

.slide-in-from-left {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-143%);
}

.slide-in-from-right {
    transition: transform 0.5s ease-in-out;
    transform: translateX(200%);
}

.visible {
    transform: translateX(0%);
}

.about-me h1 {
    font-size: 24px;
}

.about-me p {
    font-size: 16px;
    line-height: 1.5;
    white-space: break-spaces;
}

.about-me-image {
    width: 400px;
    height: 400px;
    margin-top: 100px;
}