header {
    height: 60px;
    display: flex;
    margin: 0px 180px;
    align-items: center;
    padding-top: 10px;
}

.logo {
    flex: 1;
    font-size: 15px;
    text-align: left;
    padding: 0 40px;
}

.nav-bar {
    text-align: right;
    padding: 0 40px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 40px;
    gap: 10px;
}

.nav-bar li {
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(211, 213, 120);
}

.nav-bar a:hover {
    color: rgb(109, 87, 199);
}