.projects {
    justify-content: center;
    margin: 50px 220px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 250px;
    background-color: rgba(46, 46, 218, 0.6);
    box-shadow: 0 4px 8px rgb(141, 141, 141);
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px 10px;
    white-space: pre-wrap;

}

.card:hover {
    transform: translateY(-8px);
}

.card__title {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 16px 0;
}

.card__description {
    font-size: 15px;
    margin: 0 16px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
}

.card__tools {
    width: 350px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
    margin-right: 20px;
    color: rgb(205, 205, 205);
}

.card__tools li {
    margin: 0 15px;
}

.card__tools ul {
    padding-left: 15px;
    text-align: center;
    display: flex;
    list-style: none;
}